.emergent .sideBar{
    display: none;
    left: -150px;
    top: 60px;
    z-index: 5;
    background-color: #ffe600;
    width: 150px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    transition-duration: 300ms;
}

.emergent .sideBar button{
    width: 100%;
    background-color: #ffe600;
    border: none;
}

.emergent .sideBar button:hover{
    background-color: #9b8b00;
}

.emergent .blockBack{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.33);
}

@media screen and (max-width:880px) {
    .emergent .sideBar{
        display:flex;
        position: fixed;
    }
}