:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colores de Mercado Libre */
  --mercadolibre-yellow: #ffe600;
  --mercadolibre-blue: #0033a0;
  --mercadolibre-light-blue: #3483fa;
  --mercadolibre-light-opacity-blue: #3483fa48;
  --mercadolibre-gray: #333333;
  --mercadolibre-light-gray: #ebebeb;

  color-scheme: light dark;
  color: var(--mercadolibre-gray);
  background-color: var(--mercadolibre-light-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Asegurar que html y body ocupen todo el espacio de la ventana */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--mercadolibre-gray);
  background-color: var(--mercadolibre-light-gray);
  overflow-x: hidden; /* Evita que el contenido se desborde */
}

a {
  font-weight: 500;
  color: var(--mercadolibre-blue);
  text-decoration: inherit;
}

a:hover {
  color: #002080; /* Un tono más oscuro del azul para hover */
}

input {
  font-family: "Harabara Mais", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--mercadolibre-blue); /* H1 en azul de Mercado Libre */
}

/* Columnas y filas */
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.clickable {
  cursor: pointer;
}